In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df2=df.copy()

In [5]:
df2['sex']=df2['sex'].map({'Male':0,"Female":1})

In [6]:
df2['smoker']=df2['smoker'].map({'No':0,"Yes":1})

In [7]:
df2=df2.replace({'Dinner':1,"Lunch":0})

In [8]:
df2['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [9]:
df2['day']=df['day'].map({'Sat':6,'Sun':0,'Thur':4,'Fri':5})

In [10]:
df2.head()

   total_bill   tip sex smoker day time  size
0       16.99  1.01   1      0   0    1     2
1       10.34  1.66   0      0   0    1     3
2       21.01  3.50   0      0   0    1     3
3       23.68  3.31   0      0   0    1     2
4       24.59  3.61   1      0   0    1     4

In [11]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [12]:
x=df2.drop(columns=['tip'])
y=df2['tip']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [17]:
x_train_sc=sc.fit_transform(x_train)

In [18]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [21]:
np.round(x_train_new.describe(),1)

       total_bill    sex  smoker    day   time   size
count       195.0  195.0   195.0  195.0  195.0  195.0
mean          0.0    0.0     0.0    0.0    0.0   -0.0
std           1.0    1.0     1.0    1.0    1.0    1.0
min          -1.7   -0.7    -0.8   -1.4   -1.6   -1.7
25%          -0.7   -0.7    -0.8   -1.4   -1.6   -0.6
50%          -0.3   -0.7    -0.8    0.2    0.6   -0.6
75%           0.5    1.4     1.3    1.0    0.6    0.5
max           3.5    1.4     1.3    1.0    0.6    3.7

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
mn=MinMaxScaler()

In [24]:
x_train_mn=mn.fit_transform(x_train)

In [27]:
x_train_new_mn=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [28]:
np.round(x_train_new_mn.describe(),1)

       total_bill    sex  smoker    day   time   size
count       195.0  195.0   195.0  195.0  195.0  195.0
mean          0.3    0.3     0.4    0.6    0.7    0.3
std           0.2    0.5     0.5    0.4    0.4    0.2
min           0.0    0.0     0.0    0.0    0.0    0.0
25%           0.2    0.0     0.0    0.0    0.0    0.2
50%           0.3    0.0     0.0    0.7    1.0    0.2
75%           0.4    1.0     1.0    1.0    1.0    0.4
max           1.0    1.0     1.0    1.0    1.0    1.0