In [1]:
import pandas as pd

# working with json file

In [6]:
df=pd.read_json("/Users/gauravjangid/Desktop/data set/recipe.json")

In [7]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

# working with api

In [8]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.0429
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.8220
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,1.1000
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,4.6400
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.0209
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,1.3400
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,2.9200
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.2200
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.3260
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-12-31,1735603202,0.3010

# working with sql

In [9]:
! pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 896.2 kB/s eta 0:00:0000:0100:02
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-macosx_10_9_universal2.whl size=247959 sha256=7338e53018fd495a08505869fe06e0dc3a7039770c11f8a872e1a7235621f081
  Stored in directory: /Users/gauravjangid/Library/Caches/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [10]:
import mysql.connector

In [20]:
conn=mysql.connector.connect(host='localhost',
                             auth_plugin='mysql_native_password',
                             user = 'root' , 
                             password = 'Ga@270704' , 
                             database = 'sakila')

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [18]:
pd.read_sql_query("select * from employee",conn)

NameError: name 'conn' is not defined

In [19]:
# write all sql query in the pd.read_sql_query

In [ ]:
pd.merge()