In [1]:
# Complete data ---› divide
# 100 STUDENTS - -> 70 STUDENTS (IN CLASS) , 30 STUDENTS(OUT CLASS)
# 70 STUDENTS(TRAIN) ----› TRAINED ---> 30 STUDENTS(TEST)
# Df ----> (input data) + y(target data)
#x_-› x_train + x_test
# y ----> y_train + y_test

# Machine (X_train, y_train)
# Machine(X_test) ---› output ???? ---› Prediction_data (Y_pred)
# Actual_output(y_test)|

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/placemen1.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x=df.drop(columns=["placed"])  #input data
y=df['placed']                 #taget data

In [6]:
x

    cgpa  resume_score
0   8.14          6.52
1   6.17          5.17
2   8.27          8.86
3   6.88          7.27
4   7.52          7.30
..   ...           ...
95  6.33          6.38
96  8.23          7.76
97  6.65          7.78
98  8.14          5.63
99  6.09          6.61

[100 rows x 2 columns]

In [7]:
!pip install sklearn

Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.0.post5)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (100, 3)
 --------
Input data shape(x): (100, 2)
x_train data shape: (80, 2)
x_test data shape: (20, 2)
-------
Target data shape(y): (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [11]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/covid_toy.csv")

In [12]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [13]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [14]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [15]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (90, 6)
 --------
Input data shape(x): (90, 5)
x_train data shape: (72, 5)
x_test data shape: (18, 5)
-------
Target data shape(y): (90,)
y_train data shape: (72,)
y_test data shape: (18,)

In [20]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/titanic .csv")

In [21]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [22]:
df=df.dropna()

In [23]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [25]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [27]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (87, 12)
 --------
Input data shape(x): (87, 11)
x_train data shape: (69, 11)
x_test data shape: (18, 11)
-------
Target data shape(y): (87,)
y_train data shape: (69,)
y_test data shape: (18,)

In [28]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/tips.csv")

In [29]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [31]:
x=df.drop(columns=['tip'])
y=df['tip']

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [33]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (244, 7)
 --------
Input data shape(x): (244, 6)
x_train data shape: (195, 6)
x_test data shape: (49, 6)
-------
Target data shape(y): (244,)
y_train data shape: (195,)
y_test data shape: (49,)

In [34]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/attrition.csv")

In [35]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [36]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [38]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [37]:
x=df.drop(columns='Attrition')
y=df['Attrition']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (1470, 35)
 --------
Input data shape(x): (1470, 34)
x_train data shape: (1176, 34)
x_test data shape: (294, 34)
-------
Target data shape(y): (1470,)
y_train data shape: (1176,)
y_test data shape: (294,)

In [41]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/supply_chain.csv")

In [42]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [43]:
df.isnull().sum()

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [45]:
x=df.drop(columns=['Defect rates'])
y=df['Defect rates']

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [48]:
print("Total Df:" , df. shape)

print(" --------")

print("Input data shape(x):" , x.shape)

print("x_train data shape:", x_train. shape)

print("x_test data shape:", x_test.shape)

print("-------")

print("Target data shape(y):", y. shape)

print("y_train data shape:", y_train. shape)

print("y_test data shape:", y_test. shape)

Total Df: (100, 24)
 --------
Input data shape(x): (100, 23)
x_train data shape: (80, 23)
x_test data shape: (20, 23)
-------
Target data shape(y): (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [ ]:
github par ek project ka super user(admin) hoga ,admin baaki ke logo ko access dega(push and pull process)